/data
/log
/temp
/bin/*
!/bin/custom
!/config
!/config/local.properties
!/config/localextensions.xml
!config/tomcat/conf/server.xml
!config/tomcat/conf/wrapper*.conf
config/.classpath
config/.project
config/customize/
config/languages/
config/licence/
config/readme.txt
config/solr/
config/tcServer/
config/tomcat/README.txt
config/tomcat/conf/jmxremote.access
config/tomcat/conf/jmxremote.password
config/tomcat/conf/server-minimal.xml
config/tomcat/conf/web.xml
config/tomcat/conf/server.xml
config/tomcat/conf/wrapper.conf
config/tomcat/conf/wrapper-debug.conf
config/tomcat/conf/wrapper-jprofiler.conf
config/tomcat/conf/wrapper-minimal.conf
config/tomcat/conf/wrapper-yourkitprofiler.conf
config/tomcat/tomcat_context.tpl
**/classes
**/gensrc
**/jalo
**/testclasses
**/addons
**/eclipsebin
**/build.xml
**/extensioninfo.xsd
**/platformhome.properties
**/hmc.xsd
**/beans.xsd
**/items.xsd
**/*.-testclasses.xml
**/*.-webtestclasses.xml
**/.DS_Store

rebel.xml
.pmd
.springBeans
**/*.eml
**/*.iml

*.class
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log

.idea/
.idea/*
workspace
config/backup/
config/tomcat/
bin/custom/addon/*/.gitignore
megastorefront/build.xml
megastorefront/platformhome.properties
megastorefront/resources/wro_addons.xml
megastorefront/web/webroot/cockpit/
megastorefront/web/webroot/cmscockpit/
megastorefront/web/addonsrc/*
megastorefront/web/commonwebsrc/acceleratorstorefrontcommons/*
megastorefront/web/webroot/_ui/responsive/theme-alpha/css/style.css
megastorefront/web/webroot/_ui/responsive/theme-lambda/css/style.css

megainitialdata/.classpath
megainitialdata/.externalToolBuilders/HybrisCodeGeneration.launch
megainitialdata/.settings/org.eclipse.core.resources.prefs
megainitialdata/.settings/org.eclipse.jdt.core.prefs

megacore/.project
